# Ignore Play! working directory #
logs
target
/.bsp
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
bin/
/db
.eclipse
/lib/
/logs/
/modules 
tmp/
test-result
server.pid
*.eml
/dist/
.cache